<div class="home-component">
  <img
    class="funias-triangle"
    src="../../../assets/trinangle.svg"
    alt="Funias Triángulo"
  >
  <section class="header-component">
    <div class="container">

      <div class="left-col">
        <img
          class="funias-logo"
          src="../../../assets/funias-white-logo.svg"
          alt="Logo Funias"
        >
        <div class="header-info-container">
          <h2>¡Más <span>agilidad</span> en
            tus proyectos!</h2>
          <h3>Aplicación para realizar el <br>
            <span>inventario de puntos de agua <br> subterránea</span> basada en el formato <span>FUNIAS</span>
          </h3>
          <img
            class="heartbeat"
            src="../../../assets/app-store.svg"
            alt="Logo App Store"
          >
          <a
            href="https://play.google.com/store/apps/details?id=co.funiasgeos.app"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="heartbeat"
              src="../../../assets/google-play.svg"
              alt="Logo Google Play"
            >
          </a>
        </div>
      </div>
      <div class="right-col">
        <img
          src="../../../assets/cell-animation.gif"
          alt="Animación Celular"
        >
      </div>
    </div>
    <div class="section-splitter"></div>
  </section>
  <section class="concept-container">
    <h2 class="title-section">¡NUESTRO CONCEPTO <span>INNOVADOR!</span></h2>
    <h3>Aplicación basada en Formulario Único Nacional de Inventario de Puntos de Agua Subterránea –
      <span>
        FUNIAS del Ministerio de Ambiente y Desarrollo Sostenible.
      </span>
    </h3>

    <img
      src="../../../assets/promotion.gif"
      alt="Acerca de la app"
      class="about-app"
    >
    <h3 class="second-text">Podrás registrar tu <span>captación de agua subterránea</span> por medio de la APP para
      promover su cuidado,
      <span>Y JUNTOS TRABAJAR POR LA GESTIÓN SOSTENIBLE DEL RECURSO HÍDRICO</span> ante las autoridades ambientales.
    </h3>
  </section>
  <section class="characteristics-container">
    <div class="section-splitter light"></div>
    <h2 class="title-section">características <span> destacadas!</span></h2>
    <div class="image-info-container">
      <div class="image-container">
        <img
          src="../../../assets/caracteristicas.png"
          alt="características"
        >
      </div>
      <div class="right-col">
        <div
          class="item i-1"
          [ngClass]="{'slide-in-right': activeAnimationEl1, 'slide-out-right': !activeAnimationEl1}"
        >
          <img
            src="../../../assets/facil.svg"
            alt="Fácil de usar"
          >
          <p>|<span> Fácil </span>de usar</p>
        </div>
        <div
          class="item i-2"
          [ngClass]="{'slide-in-right': activeAnimationEl2, 'slide-out-right': !activeAnimationEl2}"
        >
          <div class="special">
            <img
              src="../../../assets/funcionamiento.svg"
              alt="Funcionamiento off-line"
            >
            <p>| Funcionamiento</p>
          </div>
          <span>off-line</span>
        </div>
        <div
          class="item i-3"
          [ngClass]="{'slide-in-right': activeAnimationEl3, 'slide-out-right': !activeAnimationEl3}"
        >
          <img
            src="../../../assets/almacenamiento.svg"
            alt="Almacenamiento off-line"
          >
          <p>| Almacenamiento <span>off-line</span></p>
        </div>
        <div
          class="item i-4"
          [ngClass]="{'slide-in-right': activeAnimationEl4, 'slide-out-right': !activeAnimationEl4}"
        >
          <img
            src="../../../assets/dispositivo.svg"
            alt="Diseño apto para tablet y mobile"
          >
          <p>| Diseño apto para <span>tablet y mobile</span></p>
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="information-footer-container">
      <h2>contáctanos</h2>
      <div class="information-container">
        <div class="item phone">
          <img
            src="../../../assets/phone.svg"
            alt="Ícono Teléfono"
          >
          <p>| +57 301 166 19 07</p>
        </div>
        <div class="div-splitter"></div>
        <div class="item email">
          <img
            src="../../../assets/mail.svg"
            alt="Ícono email"
          >
          <p>| info@geosingenieria.com</p>
        </div>
      </div>
    </div>
    <div class="bottom-footer-container">
      <img
        class="funias-logo"
        src="../../../assets/funias-white-logo.svg"
        alt="Logo Funias"
      >
      <a
        class="habeas"
        [routerLink]="'/politicas-de-privacidad'"
      >| Políticas de privacidad</a>
      <a
        class="terms"
        [routerLink]="'/terminos-y-condiciones'"
      >| Términos y condiciones</a>
    </div>
  </section>

</div>
