<div class="terminos-y-condiciones">
  <img
    class="funias-triangle"
    src="../../../assets/trinangle.svg"
    alt="Funias Triángulo"
  >
  <section class="concept-container">
    <div class="container">
      <a
        class="back-home"
        [routerLink]="'/home'"
      >
        <
          Volver
          </a
        >

          <div class="left-col">
            <img
              class="funias-logo"
              src="../../../assets/funias-white-logo.svg"
              alt="Logo Funias"
            >
          </div>

          <div class="text-container">
            <h2>TÉRMINOS Y CONDICIONES DE USO DE LA PLATAFORMA APP FUNIAS</h2>

            <h3>
              ASPECTOS GENERALES
            </h3>
            <p>
              GEOS INGENIERÍA GEOLÓGICA S.A.S. es una sociedad constituida conforme a las leyes colombianas,
              identificada con NIT. 901.086.801-0, con domicilio en la ciudad de Medellín (Colombia) quien para los
              efectos de los presentes Términos y Condiciones de Uso de la Plataforma FUNIAS (en adelante, “Términos y
              Condiciones”) se denominará “GEOS INGENIERÍA S.A.S”.
            </p>
            <h3>
              IMPORTANTE: LEA CON ATENCIÓN.
            </h3>
            <p>
              ESTE ACUERDO DEL USUARIO EMPRESARIAL DE GEOS INGENIERÍA S.A.S (EL "ACUERDO") ES UN ACUERDO LEGAL ENTRE
              USTED, UN EMPLEADOR POTENCIAL, ("USTED" Y "SU") QUE LE PERMITE ACCEDER A LOS FORMULARIOS CREADOS EN EL
              SERVICIO DE FORMULARIO FUNIAS ("SERVICIO"). AL ACCEDER A LA APP FUNIAS , USTED ACEPTA ESTAR SUJETO A ESTOS
              TÉRMINOS Y CONDICIONES EN SU TOTALIDAD, POR LO CUAL, SE OBLIGA IRREVOCABLEMENTE A ÉSTOS.
            </p>
            <h3>
              OBJETO DEL ACUERDO
            </h3>
            <p>
              1. El Servicio y el Software son propiedad de GEOS INGENIERÍA S.A.S y sus licenciantes y nada en este
              Acuerdo debe interpretarse como la concesión de ningún derecho o derechos de propiedad intelectual en el
              Servicio y el Software.
            </p>
            <p>
              Los presentes Términos y Condiciones regulan la autorización de uso que otorga GEOS INGENIERÍA S.A.S a los
              Usuarios/Consumidores para que éstos ingresen a la Plataforma FUNIAS, y realicen la toma de datos y
              exportación de manera ágil.
            </p>
            <h3>
              CONTENIDO Y USO
            </h3>
            <p>
              GEOS INGENIERÍA S.A.S no es responsable del contenido de los datos de formulario (el "Contenido") que
              usted ingresa. Usted acepta utilizar el Contenido únicamente con el fin de evaluar y valorar los
              formularios y para ningún otro propósito. Usted acepta que es totalmente responsable de su uso del
              Contenido, en particular, de cualquier decisión que pueda tomar sobre la idoneidad o no de los resultados.
              También acepta indemnizar y eximir de responsabilidad a GEOS INGENIERÍA S.A.S de y contra cualquier
              responsabilidad, daño, juicio, pérdida, costos y gastos (incluidos honorarios legales razonables) que
              surjan de cualquier reclamo o alegación hecha por terceros contra GEOS INGENIERÍA S.A.S en relación con su
              uso del Contenido.
            </p>
            <p>
              Salvo que se establezca expresamente lo contrario en este documento o se permita expresamente por ley,
              usted no deberá:
            </p>
            <p>
              (a) permitir que terceros accedan al Servicio o al Software;
              (b) crear obras derivadas basadas en el Servicio o el Software;
              (c) copiar, enmarcar o reflejar ninguna parte o contenido del Servicio o el Software, excepto para sus
              propios fines comerciales internos;
              (d) realizar ingeniería inversa del Servicio o el Software;
              (e) acceder a los Servicios para construir un producto o servicio competidor;
              (f) copiar características, funciones o gráficos del Servicio o el Software; o
              (g) reproducir o retransmitir el Contenido sin permiso de GEOS INGENIERÍA S.A.S.
            </p>
            <p>
              Usted acepta indemnizar y eximir de responsabilidad a GEOS INGENIERÍA S.A.S y sus licenciantes de y contra
              cualquier responsabilidad, daño, juicio, pérdida, costos y gastos (incluidos honorarios legales
              razonables) que surjan de su uso de los Formularios y el Contenido de una manera inconsistente con los
              términos y condiciones de este Acuerdo.
            </p>
            <h3>
              EXCLUSIÓN DE GARANTÍAS
            </h3>
            <p>
              Todas las condiciones y garantías implícitas con respecto al Servicio están excluidas por GEOS INGENIERÍA
              S.A.S en la mayor medida permitida por la ley, incluidas, entre otras, cualquier condición y garantía
              implícitas por ley. GEOS INGENIERÍA S.A.S tampoco garantiza que el Servicio logrará algún resultado
              previsto o que su acceso a los Formularios será ininterrumpido o libre de errores.
            </p>
            <h3>
              LIMITACIÓN DE RESPONSABILIDAD
            </h3>
            <p>
              La responsabilidad de ninguna de las partes hacia la otra por fraude o por muerte o lesiones personales
              resultantes de su propia negligencia o de la negligencia de sus empleados, agentes o subcontratistas se
              limitará.
            </p>
            <p>
              GEOS INGENIERÍA S.A.S no acepta ninguna responsabilidad y no será responsable en contrato, agravio,
              incumplimiento de un deber legal o de otro modo por cualquier pérdida de beneficios, pérdida de datos,
              negocio, ingresos, reputación, ahorros previstos, o cualquier pérdida indirecta o consecuente que pueda
              ser sufrida por usted u cualquier otra persona o empresa en virtud de o en relación con este Acuerdo.
            </p>
            <p>
              GEOS INGENIERÍA S.A.S quedará eximido de responsabilidad con respecto a cualquier reclamación presentada
              por usted más de un año después de que haya tenido, o por el ejercicio de diligencia razonable debería
              haber tenido, conocimiento del hecho que da lugar a tal reclamación.
            </p>
            <h3>
              USO DE CONTRASEÑAS
            </h3>
            <p>
              Para acceder y ver los datos de formulario, necesitará crear un nombre de usuario y una contraseña. Debe
              mantener esta contraseña segura en todo momento y no divulgarla a terceros. GEOS INGENIERÍA S.A.S no
              acepta ninguna responsabilidad por cualquier uso no autorizado de su nombre de usuario o contraseña.
            </p>
            <h3>
              TERMINACIÓN
            </h3>
            <p>
              Este Acuerdo continuará en vigor a menos que se rescinda en virtud del mismo, pero expirará inmediatamente
              en el caso de que no haya iniciado sesión para usar el Servicio durante un período de seis meses.
            </p>
            <p>
              Cualquiera de las partes puede rescindir este Acuerdo si la otra incumple alguno de los términos de este
              Acuerdo y el incumplimiento no puede ser remediado, o, si es susceptible de remedio, no se remedia dentro
              de los treinta (30) días siguientes a la recepción de un aviso por escrito de la parte no infractora.
            </p>
            <p>
              GEOS INGENIERÍA S.A.S puede rescindir este Acuerdo por cualquier motivo mediante el envío de un aviso por
              escrito con siete días de antelación.
            </p>
            <p>
              Cualquiera de las partes tendrá derecho a rescindir este Acuerdo sin perjuicio de sus otros derechos y
              recursos de inmediato mediante notificación por escrito a la otra parte, si la otra parte no puede pagar
              sus deudas a medida que vencen o entra en liquidación compulsiva o voluntaria (que no sea para fines de
              una reconstrucción o fusión de buena fe), o acuerda con o convoca una reunión de sus acreedores, o tiene
              un receptor o gerente, o receptor administrativo o un administrador o examinador designado sobre sus
              activos, o cesa por cualquier motivo en el negocio.
            </p>
            <p>
              Cualquier terminación de este Acuerdo de conformidad con esta Cláusula será sin perjuicio de cualquier
              otro derecho o recurso que una parte pueda tener en virtud de este documento o la ley y no afectará a los
              derechos o responsabilidades acumulados de ninguna de las partes ni a la entrada en vigor o continuación
              de cualquier disposición del presente que expresamente o por implicación pretenda entrar en vigor o
              continuar en vigor en o después de dicha terminación.
            </p>
            <p>
              Sin embargo, al terminar este Acuerdo, su derecho de acceso y visualización de los datos de formulario y
              cualquier licencia otorgada a usted bajo este Acuerdo cesarán inmediatamente.
            </p>
            <h3>
              NOTIFICACIONES
            </h3>
            <p>
              Cualquier notificación requerida o permitida para ser entregada por cualquiera de las partes a la otra en
              virtud de este Acuerdo deberá ser por escrito y presentada por correo electrónico a la dirección de correo
              electrónico que la otra parte haya especificado. Tales notificaciones se considerarán entregadas una hora
              después de ser enviadas a menos que la parte que envía reciba un informe o mensaje que indique que el
              mensaje no se pudo entregar.
            </p>
            <p>
              El correo de GEOS INGENIERÍA S.A.S para notificaciones es info@geosingenieria.com.
            </p>
            <h3>
              RENUNCIA
            </h3>
            <p>
              La renuncia por parte de cualquiera de las partes de un incumplimiento o falta de alguna de las
              disposiciones de este Acuerdo por parte de la otra parte no se interpretará como una renuncia a ningún
              incumplimiento posterior de las mismas u otras disposiciones de este Acuerdo, ni cualquier demora u
              omisión por parte de cualquiera de las partes en ejercer o aprovecharse de cualquier derecho, poder o
              privilegio que tenga o pueda tener en virtud de este documento operará como una renuncia a cualquier
              incumplimiento o falta por parte de la otra parte.
            </p>
            <h3>
              ACUERDO COMPLETO
            </h3>
            <p>
              Este Acuerdo reemplaza todos los acuerdos, arreglos y entendimientos anteriores entre las partes y
              constituye el acuerdo completo entre las partes en relación con su objeto.
            </p>
            <h3>
              MODIFICACIONES
            </h3>
            <p>
              GEOS se reserva el derecho, a su entera discreción, de enmendar, agregar o eliminar cualquiera de los
              términos y condiciones de este Acuerdo cuando se actualice el Servicio y usted debe consultar este Acuerdo
              en el sitio web de GEOS INGENIERÍA S.A.S regularmente para todos esos cambios. Al continuar accediendo y
              visualizando los Formularios, habrá indicado su aceptación de cualquier Término revisado.
            </p>
            <h3>
              CESIÓN
            </h3>
            <p>
              Usted no podrá ceder ni transferir de otro modo este Acuerdo o alguno de sus derechos u obligaciones en
              virtud del mismo, ya sea en su totalidad o en parte, sin el consentimiento previo por escrito de GEOS
              INGENIERÍA S.A.S. GEOS INGENIERÍA S.A.S tendrá derecho a ceder y transferir todos o algunos de sus
              derechos y obligaciones en virtud del presente previo aviso a usted y dicho cesionario o cesionario tendrá
              derecho a hacer valer lo mismo contra usted como si estuviera nombrado en este Acuerdo como GEOS
              INGENIERÍA S.A.S.
            </p>
            <h3>
              INVALIDEZ Y SEPARABILIDAD
            </h3>
            <p>
              Si alguna disposición de este Acuerdo fuera encontrada por cualquier tribunal o cuerpo administrativo de
              jurisdicción competente como inválida o no ejecutable, la invalidez o inaplicabilidad de dicha disposición
              no afectará a las demás disposiciones de este Acuerdo y todas las disposiciones no afectadas por dicha
              invalidez o inaplicabilidad permanecerán en pleno vigor y efecto. Las partes acuerdan intentar sustituir
              cualquier disposición inválida o inaplicable por una disposición válida o ejecutable que logre en la mayor
              medida posible los objetivos económicos, legales y comerciales de la disposición inválida o inaplicable.
            </p>
            <h3>
              PROTECCIÓN DE DATOS
            </h3>
            <p>
              GEOS INGENIERÍA S.A.S procesa datos personales en el contexto de proporcionar el Servicio como un
              procesador de datos únicamente y cumplirá con sus obligaciones como procesador de datos bajo la Ley de
              Protección de Datos.
            </p>
            <p>
              La información sujeta a tratamiento por el Responsable del Tratamiento o Encargado del tratamiento a que
              se refiere la Ley Estatutaria 1581 de 2012, se deberá manejar con las medidas técnicas, humanas y
              administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración,
              pérdida, consulta, uso o acceso no autorizado o fraudulento.
            </p>
            <h3>
              LEGISLACIÓN
            </h3>
            <p>
              Este Acuerdo se regirá e interpretará de acuerdo con las leyes de Colombia, y usted acepta que en
              beneficio de GEOS INGENIERÍA S.A.S y sin perjuicio del derecho de GEOS INGENIERÍA S.A.S de emprender
              acciones legales ante cualquier otro tribunal de jurisdicción competente, que los tribunales de Colombia
              tendrán jurisdicción para conocer y resolver cualquier demanda, acción o procedimiento que pueda surgir de
              o en relación con este Acuerdo y para tales fines usted se somete irrevocablemente a la jurisdicción de
              dichos tribunales.
            </p>
          </div>
    </div>
  </section>
</div>
